#main, #projects{
    background-color:#0CCBF0;
}

#resume, #cert{
    background-color:#9B3B64;
}

.navbar-brand{
    font-family:"Pacifico", cursive;
}

.card-main{
    background-color:#9B3B64;
    color:white;
} 

#dev-photo{
    height:300px;
    width:400px;
}

.resume-text, .cert-text{
    color:#0CCBF0;
}

#bpa-logo{
    height:150px;
    width:180px;
}