#main{
    background-color:#0CCBF0;
}

#resume{
    background-color:black;
}

#projects{
    background-color:#F00C6E;
}

#cert{
    background-color:#F0D90C;
}

.navbar-brand{
    font-family:"Pacifico", cursive;
}

.card-main{
    background-color:#9B3B64;
    color:white;
} 

#dev-photo{
    height:200px;
    width:100px;
}

.resume-text{
    color:white;
}