#main{
    background-color:#0CCBF0;
}

#resume{
    background-color:black;
}

#projects{
    background-color:#F00C6E;
}

#cert{
    background-color:#F0D90C;
}

.navbar-brand{
    font-family:"Pacifico", cursive;
}